html, body {
    height: 100%;
}

.login-card {
    border-width: 2px;
    border-color: #E1E1E1;
    box-shadow: 5px 5px 8px #7C7C7C;
}
.pass-class {
    margin-top: 10px;
}

.btn-primary {
    width: 80%;
    border-radius: 20px;
}
#create-account {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: #007bff;
}
#create-account:hover{
    background-color: #007bff;
    color: white;
}
#error-message {
    color: crimson;
}